%div#form-page{:'data-role' => 'page'}
  %div{:'data-role' => 'header'}
    %h1
      Password Generator
  %div{:'data-role' => 'content'}
    Choose one master password to secure all your others and generate passwords for each site
    %form#password-form{:'data-ajax' => 'false', :method => 'post'}
      .ui-hide-label{:'data-role' => 'fieldcontain'}
        %p
          %label{:for => 'password'}
            Master Password
          %input#password{:type => 'password', :name => 'password', :placeholder => 'Master Password'}
        %p
          %label{:for => 'sitename'}
            Site URL
          %input#sitename{:type => 'url', :name => 'sitename', :placeholder => 'Site Name', :value => 'http://'}
        %p
          %input{:type => 'submit', :value => 'Generate'}
        %p
          %input#hash{:type => 'text', :name => 'hash', :placeholder => 'Generated Password'}
        %p#site_hint
          %small
    %p
      %small
        %em
          Adapted from
          %a{:href => 'http://angel.net/~nic/passwd.html', :rel => 'external', :target => '_new'}
            Nic Wolff's Password Generator