%div#form-page{:'data-role' => 'page'}
  %div{:'data-role' => 'header'}
    %h1
      Password Generator
  %div{:'data-role' => 'content'}
    Choose one master password to secure all your others and generate passwords for each site
    %form#password-form{:'data-ajax' => 'false', :method => 'post', :novalidate => true}
      .ui-hide-label{:'data-role' => 'fieldcontain'}
        %p
          %label{:for => 'password'}
            Master Password
          %input#password{:type => 'password', :name => 'password', :placeholder => 'Master Password'}
        %p
          %label{:for => 'sitename'}
            Site Name
          %input#sitename{:type => 'url', :name => 'sitename', :placeholder => 'Site Name'}
        %p
          %input{:type => 'submit', :value => 'Generate'}
        %p
          %input#hash{:type => 'text', :name => 'hash', :placeholder => 'Generated Password'}
    %p
      %small
        %em
          Adapted from
          %a{:href => 'http://angel.net/~nic/passwd.html', :rel => 'external'}
            Nic Wolff's Password Generator
:javascript
  $('#form-page').live( 'pageinit',function(event){
    $('#password-form').submit(function() {
      password = $(this).find('#password').val();
      sitename = $(this).find('#sitename').val();
      hash_value = hex_md5(password + ':' + sitename).substr(0,8);

      $(this).find('#hash').val(hash_value).focus();

      localStorage.masterpassword = password;

      return false;
    });
  });
  $('#form-page').live( 'pageinit',function(event){
    if (localStorage.masterpassword) {
      $('#password-form #password').val(localStorage.masterpassword);
    }
  });